<head>
    <!-- Agregar fuente Poppins desde Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>

<header class="bg-gradient-to-r from-purple-600 to-indigo-700 text-white p-6 shadow-lg">
    <nav class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <div class="flex items-center">
            <img src="https://via.placeholder.com/30" alt="Logo" class="mr-4"> <!-- Cambia la URL por tu logo y tamaño ajustado -->
            <div class="text-3xl font-semibold tracking-wide" style="font-family: 'Poppins', sans-serif;">PAISES</div>
        </div>

        <!-- Barra de navegación -->
        <ul class="flex space-x-6">
            <li>
                <a href="/api/index" class="text-white hover:text-gray-200 px-4 py-2 rounded-full transition-colors" style="font-family: 'Roboto', sans-serif;"> Inicio
                </a>
            </li>
            <li>
                <a href="/api/countries" class="text-white hover:text-gray-200 px-4 py-2 rounded-full transition-colors" style="font-family: 'Roboto', sans-serif;"> Paises
                </a>
            </li>
            <li>
                <a href="/api/countries/add" class="text-white hover:text-gray-200 px-4 py-2 rounded-full transition-colors" style="font-family: 'Roboto', sans-serif;"> Agregar Nuevo Pais
                </a>
            </li>
        </ul>
    </nav>
</header>

<hr class="border-t border-gray-600 my-8">
