<main class="flex items-center justify-center h-screen bg-gradient-to-r from-indigo-700 to-purple-800">
    <div class="text-center text-white">
        <h1 class="text-5xl font-extrabold mb-6 animate__animated animate__fadeIn">404</h1>
        <h2 class="text-3xl font-semibold mb-4 animate__animated animate__fadeIn animate__delay-1s">Página No Encontrada</h2>
        <p class="text-lg mb-6 animate__animated animate__fadeIn animate__delay-2s">Lo sentimos, no pudimos encontrar la página que estás buscando.</p>
        <a href="/" class="text-lg font-semibold text-indigo-200 hover:text-indigo-400 transition-all">Volver al inicio</a>
    </div>
</main>
