<main class="container mx-auto p-8">
    <h1 class="text-5xl font-semibold mb-6 text-center text-white">Bienvenidos</h1>

    <div class="flex justify-center mb-6">
        <img src="https://i.pinimg.com/736x/b3/3b/7c/b33b7cc4efe910b3b7ac904a36ede767.jpg" alt="Imagen representativa" class="rounded-lg shadow-lg">
    </div>

    <p class="text-xl text-center text-gray-300 mb-10">Explora y gestiona datos de países hispanohablantes de manera rápida y confiable.</p>

    <div class="text-center text-gray-200">
        <p class="text-lg mb-4">Una API fácil de usar, diseñada para proporcionarte acceso a información precisa sobre países donde se habla español.</p>
        <p class="text-lg">¡Comienza a explorar ahora!</p>
    </div>
</main>
